* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Navbar */
.navbar {
  background-color: #022a4a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 70px;
  flex-shrink: 0;
}

.navbar .search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/* Main layout */
.container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding-top: 1rem;
  overflow-y: auto;
  flex-shrink: 0;
}

/* Sidebar items */
.sidebar li {
  padding: 10px 12px;
  border-left: 4px solid transparent;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
}

.sidebar li.logout {
  color: red;
}

/* Content */
.content {
  flex-grow: 1;
  padding: 1.5rem;
  background-color: #fff;
  overflow-y: auto;
}

/* Alert message */
.alert {
  background-color: #f5f5f5;
  border-left: 5px solid red;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Card */
.card {
  padding: 1.5rem;

}

.card p.wel {
  margin-bottom: 1rem;
    border-left: 15px solid #005ea2;
    background-color: #E1EFFE;
    padding:10px;
    width:300px;
    font-weight: bold;
}

.paragraph{
  margin-bottom: 1rem;
  font-size: 15px;
  color: #333;
  padding:20px 50px;
  line-height: 25px;
  text-align: justify;
}
/* Footer */
.footer {
  text-align: center;
  padding: 0.8rem;
  background-color: #000;
  color: #fff;
  flex-shrink: 0;
  height: 50px;
  font-size: 13px;
}


.sidebar li:hover {
  border-left: 4px solid #005ea2;
  background-color: #f0f0f0;
}