.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0f172a; /* Same as your navbar color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: slight shadow */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #012f50;
  padding: 25px 34px;
  color: white;
  position: sticky;
  top: 0;
}




.left-side {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

/* .nav-links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
} */

.nav-links a i {
  font-size: 1rem;
}

.internal {
  font-size: 1rem;
  color: white;
}
.internal span {
  font-size: 32px;
}
 .hero {
  padding-bottom: 180px;
}


.nav-links a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #FFC107;
}
