<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=stat_minus_1" />
  
<style>
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Navbar */
.navbar {
  background-color: #16610E;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 70px;
  flex-shrink: 0;
}

.navbar .search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/* Main layout */
.container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding-top: 1rem;
  overflow-y: auto;
  flex-shrink: 0;
}

/* Sidebar items */
.sidebar li {
  padding: 10px 12px;
  border-left: 4px solid transparent;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
}

.sidebar li.logout {
  color: red;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
}
.sidebar li:hover {
  border-left: 4px solid #16610E;
  background-color: #f0f0f0;
}
/* Content */
.content {
  flex-grow: 1;
  padding: 1.5rem;
  background-color: #fff;
  overflow-y: auto;
}
</style>
    <title>Document</title>
</head>
<body>
    {% block content %}
       <!-- Navbar -->
  <header class="navbar">
    <div class="internal" style="display: flex; align-items: center; gap: 5px; font-size:18px;">
      <p style="font-weight: bold; font-size:24px;">ODFI</p>
    </div>

    <div class="search-bar" style="display: flex; align-items: center; gap: 8px;">
      <span class="material-symbols-outlined" style="color: white; font-size:28px;">account_circle</span>
      <p style="margin: 0; color: white;">{{  user.first_name }}</p>
    </div>
  </header>

  <!-- Main Layout -->
  <div class="container" style="background-color: #E8FFD7;" >
    <!-- Sidebar -->
    <aside class="sidebar">
      <ul style="list-style: none; padding: 0; margin: 0;">
        
        <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'dashboard' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;">
          <span class="material-symbols-outlined">
        article
          </span>
         <a href="{% url 'dashboard' %}"
           class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'dashboard' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}
         >SOP Overview</a>
          </li> 
            
        <li class="{% if request.resolver_match.url_name == 'adminis' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'adminis' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;">
          <span class="material-symbols-outlined">
            domain
          </span>
          <a href="{% url 'adminis' %}" 
          class="{% if request.resolver_match.url_name == 'adminis' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'adminis' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}
          
          
          >Administration and Operations</a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'education' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'education' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;">
        <span class="material-symbols-outlined">
book_2
</span><a href="{% url 'education' %}" 
 class="{% if request.resolver_match.url_name == 'education' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'education' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}
>Education of Reverts</a>
</li>
<li class="{% if request.resolver_match.url_name == 'jumuat' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'jumuat' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;">
<span class="material-symbols-outlined">
folded_hands
</span><a href="{% url 'jumuat' %}" 
class="{% if request.resolver_match.url_name == 'jumuat' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'jumuat' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}

>Jumuat Prayers</a></li>

        <li class="{% if request.resolver_match.url_name == 'dawah' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'dawah' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;"><span class="material-symbols-outlined">
communication
</span><a href="{% url 'dawah' %}" 
class="{% if request.resolver_match.url_name == 'dawah' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'dawah' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}

>Dawah</a></li>

        <li class="{% if request.resolver_match.url_name == 'qurban' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'qurban' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;">
 <span class="material-symbols-outlined">
massage
</span><a href="{% url 'qurban' %}" 
class="{% if request.resolver_match.url_name == 'qurban' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'qurban' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}

>Qurban</a></li>
        <li class="{% if request.resolver_match.url_name == 'ihya' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'ihya' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;"><span class="material-symbols-outlined">
prayer_times
</span><a href="{% url 'ihya' %}" class="{% if request.resolver_match.url_name == 'ihya' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'ihya' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}
>Ihya Ramadan</a></li>
        
<li class="{% if request.resolver_match.url_name == 'food' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'food' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;"><span class="material-symbols-outlined">
cooking
</span><a href="{% url 'food' %}" class="{% if request.resolver_match.url_name == 'food' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'food' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}
>Food Preparation & Management</a></li>
        <li class="{% if request.resolver_match.url_name == 'services' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'services' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;"><span class="material-symbols-outlined">
build
</span><a href="{% url 'services' %}" class="{% if request.resolver_match.url_name == 'services' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'services' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}
>Other Services</a></li>
        <li class="{% if request.resolver_match.url_name == 'public' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'public' %} style="color: #FCB31C; font-weight: bold; display: flex; align-items: center; gap: 8px; background-color: #16610E; margin:10px; border-radius: 10px; padding: 10px;
 "{% endif %} style="display: flex; align-items: center; gap: 8px; list-style: none;"><span class="material-symbols-outlined">
public
</span><a href="{% url 'public' %}"  class="{% if request.resolver_match.url_name == 'public' %}active{% endif %}"
         {% if request.resolver_match.url_name == 'public' %} style=" color: #FCB31C; font-weight: bold;
 "{% endif %}
>Public View</a></li>
        <li style="display: flex; align-items: center; gap: 8px; list-style: none;" class="logout"><span style="font-weight: bold;" class="material-symbols-outlined">
chip_extraction
</span> <a href="{% url 'signout' %}" style="color:red; text-decoration: none; font-weight: bold; ">Logout</a></li>
      </ul>
    </aside> 
{% endblock %}
</body>
</html>
