<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'authentication/adminis.css' %}">
    <style>
         .highlight-box {
        background-color: #f9f9e6;
        padding: 35px 20px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        line-height: 1.6;
        color: black;
      }
    </style>
</head>
<body>
    {% include 'authentication/admin/anav.html' %}
    {% block content %}{% endblock content %}

    <main class="content" style="background-color: #FFFFFF; margin:10px; border-radius: 10px;
">

 <p
        style="
          color: black;
          margin-bottom: 1rem;
          border-left: 15px solid #012f50;
          background-color: #e1effe;
          padding: 10px;
          width: 300px;
          font-weight: bold;
        "
        class="roles"
      >
       Iftar
      </p>

      <div class="highlight-box">
        <p style="color: grey; font-style: italic;">
         Content to be followed
        </p>
      </div>

       <p
        style="
          color: black;
          margin-bottom: 1rem;
          border-left: 15px solid #012f50;
          background-color: #e1effe;
          padding: 10px;
          width: 300px;
          font-weight: bold;
        "
        class="roles"
      >
       Taraweeh / Qiyam
      </p>

      <div class="highlight-box">
        <p style="color: grey; font-style: italic;">
         Content to be followed
        </p>
      </div>

          <p
        style="
          color: black;
          margin-bottom: 1rem;
          border-left: 15px solid #012f50;
          background-color: #e1effe;
          padding: 10px;
          width: 300px;
          font-weight: bold;
        "
        class="roles"
      >
       ​Solatul Eid
      </p>

      <div class="highlight-box">
        <p style="color: grey; font-style: italic;">
         Content to be followed
        </p>
      </div>

</main>
</body>
</html>