<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="{% static 'authentication/signin.css' %}">
    <style>
      .alert {
    color: white;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
}

    </style>
</head>
<body>
    {% include 'authentication/user/nav.html' %}
    {% block content %}{% endblock content %}



   <div class="signin">


  <p class="sign">ODFI INTERNAL WORKFORCE</p>

  <div class="form">
    <p style="text-align: center; color:white; font-size:30px;margin-top:-20px; margin-left:40px; font-weight: bold;">Welcome!</p>
   
     {% if login_failed %}
<script>
  alert("Incorrect username or password. Please try again.");
</script>
{% endif %}
   
   
  <form class="login-form" action="/signin" method="post">
  {% csrf_token %}
  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="example@mail.com" required value="{{ username|default:'' }}">

  <label for="password">Password</label>
  <div class="password-wrapper">
    <input type="password" name="password" id="password" placeholder="Password" required>
    <span class="material-symbols-outlined" id="togglePassword"
      style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
      visibility
    </span>
  </div>

  <small class="requirement-text">
    Use at least 8 characters with 1 number, and one special character.
  </small>

  <button type="submit" class="login-btn">Sign In</button>
</form>

  </div>
</div>

<footer class="footer">
 © 2025 ODFI. All rights reserved.
</footer>

<script>
  const toggle = document.getElementById('togglePassword');
  const password = document.getElementById('password');

  toggle.addEventListener('click', function () {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    this.textContent = type === 'password' ? 'visibility' : 'visibility_off';
  });
</script>

</body>
</html>